.mq5 linguist-language=MQL5
.mqh linguist-language=MQL5
indicator/ThirdParty/ linguist-vendored
data/** linguist-vendored
docs/** linguist-documentation
DataDocs/** linguist-documentation
*.ex5 linguist-generated
*.ex4 linguist-generated
*.mqproj linguist-generated
